<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/tabs/trainingPlan" tab="trainingPlan">
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Training Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/recentRuns" tab="recentRuns">
      <ion-icon aria-hidden="true" name="fitness-outline"></ion-icon>
      <ion-label>RecentRuns</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/route" tab="route">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Routes</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/gym" tab="gym">
      <ion-icon aria-hidden="true" name="barbell-outline"></ion-icon>
      <ion-label>Gym Workout</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/account" tab="account">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
