<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.smartroute.smartroute1">
    <!-- Permissions for Geolocation Plugin -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
</manifest>
