<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Training Plan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (isLoading) {
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Loading Training Plan...</p>
    </div>
  } @else if (error) {
    <div class="error-container">
      <ion-icon color="danger" name="alert-circle-outline"></ion-icon>
      <p>{{ error }}</p>
      <ion-button (click)="loadTrainingPlan()">Retry</ion-button>
    </div>
  } @else {
    <div class="page-container">
      <ion-card class="rounded-card">
        <ion-card-header>
          <ion-card-title>
            {{ date }}
          </ion-card-title>
          <ion-card-title>
            Recommended Session: {{ recommendedActivity?.name }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          @if (recommendedActivity) {
            @if (recommendedActivity!.type === SessionType.RUN) {
              <ion-card class="rounded-card" color="success" style="height:20rem">
                <ion-card-header>
                  <ion-card-title>
                    MAP PLACEHOLDER
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
              <ion-card class="rounded-card" color="light">
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <!--Route-->
                        <ion-list lines="none">
                          <ion-list-header lines="inset">
                            <ion-label class="info-header">Route Details</ion-label>
                          </ion-list-header>
                          <ion-item>
                        <span><ion-icon name="navigate-outline"></ion-icon>
                          {{ formatDistance(recommendedActivity!.route!.distance) }}</span></ion-item>
                          <ion-item>
                        <span><ion-icon name="time-outline"></ion-icon>
                          {{ formatPace(recommendedActivity!.route!.pace) }}</span>
                          </ion-item>
                          <ion-item>
                        <span><ion-icon name="trending-up-outline"></ion-icon>
                          {{ formatElevation(recommendedActivity!.route!.elevation) }} </span>
                          </ion-item>
                        </ion-list>
                      </ion-col>
                      <ion-col>
                        <!--Weather-->
                        <ion-list lines="none">
                          <ion-list-header lines="inset">
                            <ion-label class="info-header">Weather</ion-label>
                          </ion-list-header>
                          <ion-item>
                        <span><ion-icon name="thermometer-outline"></ion-icon>
                          {{ formatTemperature(recommendedActivity!.weather.temperature) }}</span>
                          </ion-item>
                          <ion-item>
                            <ion-label class="wind-info">
                              <h2>Wind:</h2>
                              <div class="wind-row">
                                <ion-icon name="speedometer-outline"></ion-icon>
                                {{ formatWindSpeed(recommendedActivity!.weather.windSpeed) }}
                              </div>
                              <div class="wind-row">
                                <ion-icon name="compass-outline"></ion-icon>
                                {{ formatWindDirection(recommendedActivity!.weather.windDirection) }}
                              </div>
                            </ion-label>
                          </ion-item>
                          @if (recommendedActivity!.weather.precipitation > 0) {
                            <ion-item>
                          <span><ion-icon name="rainy-outline"></ion-icon>
                            {{ formatPrecipitation(recommendedActivity!.weather.precipitation) }}</span>
                            </ion-item>
                          }
                        </ion-list>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            } @else if (recommendedActivity!.type === SessionType.GYM) {
              <ion-card class="rounded-card" color="light">
                <ion-card-header>
                  <ion-card-title>
                    Gym Workout
                  </ion-card-title>
                  <ion-card-subtitle>
                    Sets: {{ recommendedActivity!.gymSession!.sets }}
                    Reps: {{ recommendedActivity!.gymSession!.reps }}
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <ion-label>
                    <ion-label class="info-header">Exercises</ion-label>
                    <ul>
                      @for (exercise of recommendedActivity!.gymSession!.exercises; track exercise.name) {
                        <li>
                          <ion-label>{{ exercise.name }}</ion-label>
                        </li>
                      }
                    </ul>
                  </ion-label>
                  <ion-button (click)="navigateToGymExercise(recommendedActivity!.gymSession!.id)">View Instructions
                  </ion-button>
                </ion-card-content>
              </ion-card>
            } @else if (recommendedActivity.type === SessionType.REST) {
              <ion-card class="rounded-card" color="light">
                <ion-card-header>
                  <ion-card-title>Rest</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  A rest day keeps you strong and injury-free. Enjoy the downtime.
                </ion-card-content>
              </ion-card>
            }

            <ion-card class="rounded-card" color="light">
              <ion-card-header>
                <ion-card-title>
                  Why this Session?
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">
                  <ion-item>
                    <ion-label>
                      <ion-icon [color]="getTsbColor(recommendedActivity!.athleteStatus.tsb)"
                                [name]="getTsbIcon(recommendedActivity!.athleteStatus.tsb)"></ion-icon>
                      TSB: {{ interpretTSB(recommendedActivity!.athleteStatus.tsb) }}
                    </ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>
                      <ion-icon [color]="getReadinessScoreColor(recommendedActivity!.athleteStatus.readinessScore)"
                                name="fitness-outline"></ion-icon>
                      Readiness Score: {{ interpretReadinessScore(recommendedActivity!.athleteStatus.readinessScore) }}
                    </ion-label>
                  </ion-item>
                  @if (recommendedActivity!.athleteStatus.injuryIndex > 0 && recommendedActivity!.athleteStatus.injuries && recommendedActivity!.athleteStatus.injuries!.length > 0) {
                    <ion-item>
                      <ion-label>
                        <ion-icon [color]="getSeverityColor(recommendedActivity!.athleteStatus.injuryIndex)"
                                  name="bandage-outline"></ion-icon>
                        You are injured (severity:  {{ (recommendedActivity!.athleteStatus.injuryIndex) }}):
                        <ul>
                          @for (injury of recommendedActivity!.athleteStatus!.injuries; track injury.affectedArea) {
                            <li>
                              {{ getBodyPartLabel(injury.affectedArea) }}
                            </li>
                          }
                        </ul>
                      </ion-label>
                    </ion-item>
                  }
                </ion-list>
              </ion-card-content>
            </ion-card>
          }
        </ion-card-content>
      </ion-card>
    </div>
  }
</ion-content>
