<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Training Plan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ date }}
      </ion-card-title>
      <ion-card-title>
        Recommended Session: {{ recommendedActivity?.title }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      @if (recommendedActivity) {
        @if (recommendedActivity!.type === SessionType.RUN) {
          <ion-card color="success" style="height:20rem">
            <ion-card-header>
              <ion-card-title>
                MAP PLACEHOLDER
              </ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <!--Route-->
                    <ion-list lines="none">
                      <ion-list-header lines="inset">
                        <ion-label class="info-header">Route Details</ion-label>
                      </ion-list-header>
                      <ion-item>
                        <span><ion-icon name="navigate-outline"></ion-icon>{{ formatDistance(recommendedActivity!.route!.distance) }}</span></ion-item>
                      <ion-item>
                        <span><ion-icon name="time-outline"></ion-icon>{{ formatPace(recommendedActivity!.route!.pace) }}</span>
                      </ion-item>
                      <ion-item>
                        <span><ion-icon name="trending-up-outline"></ion-icon>{{ formatElevation(recommendedActivity!.route!.elevation) }} </span>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                  <ion-col>
                    <!--Weather-->
                    <ion-list lines="none">
                      <ion-list-header lines="inset">
                        <ion-label class="info-header">Weather</ion-label>
                      </ion-list-header>
                      <ion-item>
                        <span><ion-icon name="thermometer-outline"></ion-icon>{{ formatTemperature(recommendedActivity!.weather.temperature) }}</span>
                      </ion-item>
                      <ion-item>
                        <ion-label class="wind-info">
                          <h2>Wind:</h2>
                          <div class="wind-row">
                            <ion-icon name="speedometer-outline"></ion-icon>{{ formatWindSpeed(recommendedActivity!.weather.windSpeed) }}
                          </div>
                          <div class="wind-row">
                            <ion-icon name="compass-outline"></ion-icon>{{ formatWindDirection(recommendedActivity!.weather.windDirection) }}
                          </div>
                        </ion-label>
                        </ion-item>
                      @if (recommendedActivity!.weather.precipitation > 0) {
                        <ion-item>
                          <span><ion-icon name="rainy-outline"></ion-icon>{{ formatPrecipitation(recommendedActivity!.weather.precipitation) }}</span>
                        </ion-item>
                      }
                    </ion-list>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        } @else if (recommendedActivity!.type === SessionType.GYM) {
          <ion-card color="danger">
            <ion-card-header>
              <ion-card-title>
                GYM PLACEHOLDER
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        } @else if (recommendedActivity.type === SessionType.REST) {

        }

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Why this Session?
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                <ion-label>
                  <ion-icon [name]="tsbIcon(recommendedActivity!.athleteStatus.tsb)"></ion-icon>
                  TSB: {{ interpretTSB(recommendedActivity!.athleteStatus.tsb) }}
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  <ion-icon name="fitness-outline"></ion-icon>
                  Readiness Score: {{ interpretReadinessScore(recommendedActivity!.athleteStatus.readinessScore) }}
                </ion-label>
                </ion-item>
              @if (recommendedActivity!.athleteStatus.injuryIndex < 1 && recommendedActivity!.athleteStatus.injuries && recommendedActivity!.athleteStatus.injuries!.length > 0) {
                <ion-item>
                  <ion-label>
                    <ion-icon name="bandage-outline"></ion-icon>
                    You are injured (severity:  {{ (1 - recommendedActivity!.athleteStatus.injuryIndex) }}):
                    <ul>
                      @for (injury of recommendedActivity!.athleteStatus!.injuries; track injury.title) {
                        <li>
                          {{ injury.title }}
                        </li>
                      }
                    </ul>
                  </ion-label>
                </ion-item>
              }
            </ion-list>
          </ion-card-content>
        </ion-card>
      }
    </ion-card-content>
  </ion-card>
</ion-content>
