<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Training Plan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Training Plan</ion-title>
    </ion-toolbar>
  </ion-header>
  <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Tailwind CSS Button works
  </button>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
